<div id="user-info" class="well">
  <div class="text-center">
    <%= render 'layouts/avatar', user: @user %>
    <br>
    <h5>
      <%= link_to current_user.Fname, controller: "dashboard", action: "home", :id => current_user %>
    </h5>

  </div>
</div>


