<div class="container">

  <% if user_signed_in? %>
      <div class="alert alert-info alert-dismissibile fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <strong> Welcome back </strong> <%= current_user.Fname%>! <%end%>
  </div>
    <%= render partial:"timeln"%>
</div>



