<div class="container">

  <% if user_signed_in? %>
  <div class="alert alert-info" role="alert">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong> Signed in as: </strong> <%= current_user.Fname%> <%end%>
  </div>

<h1> page</h1>


</div>
