<div class="container">


<h3>Forgot your password?</h3>
  <p> Please provide your email address:</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <p>
      <%= f.email_field :email, :style => "width:30%", :placeholder => 'Email', autofocus: true %>
    </p>
  </div>
</br>
      <div class="actions">
        <%= f.submit "Email me instructions", class: "btn btn-primary" %>
      </div>

<% end %>

    </div>