<Title> Welcome to Facebook! </Title>


<!--JESS WILL FIGURE OUT HOW TO IMPLEMENT A MESSAGE TO DISPLAY "SIGN OUT SUCCESSFUL"
DO NOT TOUCH THIS
 if user_signed_out? %>
    <div class="alert alert-warning" role="alert">
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong> Successfully signed out! </strong>  end%>
</div>
 //-->

<div class="container">
  <div id="heading">
  <body id="index">
  <h1><strong>Welcome to Facebook!</strong></h1>
  </br>
  <p class="lead"> Facebook helps you connect and share with </br> the people in your life. </p>

  </body>
  </br>
  </br>
</div>

<IMG class="displaycenter", img src="/facebook new sign up page.png"/>

  </div>
</div>
