@import "bootstrap-sprockets";
@import "bootstrap";



#user_form
{
  position: absolute;
  right: 125px;
  width: 350px;
}


#labeltext
{
  font-size: 14px;
  text-align: left;
}



#fontedit h1 {
  color:#2C3539;
  font-size: 32px;
  line-height: 75%;

}

