<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Facebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="blueBar" class="broke-endless-pages">
  <div id="logoBanner">
    <img src="/facebook.png", alt text="facebook logo", width="210"/>
  </div>

</div>




<%= yield %>

</body>
</html>
